body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(white 30%, black 70%);
}

.clock{
    font-family:monospace;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.countdown{
    background-color:bisque;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    text-align: center;
    font-size: 5rem;
    padding: 2rem;
}

.Div{
    display: flex;
    flex-direction: column;
    gap: 20%;
    text-align: center;
    height: 5rem;
}

span{
    font-size: 2rem;;
}