*{
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(8, 8, 8);
    transform : translateX(-50px);
    transform : translateY(-50px);
}

.clock{
    font-family:monospace;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.countdown{
    background-color:black;
    color: white;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    text-align: center;
    font-size: 5rem;
    padding: 2rem;
    box-shadow: inset 5px 5px 5px rgb(159, 25, 25), 2px 5px 5px rgb(159, 25, 25);
    transition: 0.2s;
}
.Div:hover{
    transform: scale(1.1);
}

.Div{
    display: flex;
    flex-direction: column;
    gap: 20%;
    text-align: center;
    height: 5rem;
}

span{
    font-size: 2rem;
    color: aliceblue;
}